{% load static %}
<html> 
  <head>
    <title>Library App-Rimmel</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
</head>

<body onload="myFunction()"> 
  <div id="loader">
  </div>
  <div style="display:none;" id="myDiv" class="animate-bottom">
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Library App</a>
            <input class="form-control me-1 " type="search" placeholder="Search for a book" aria-label="Search" id="myInput" >
        </div>
      </nav>
      <br>
      <br>
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>“The more that you read, the more things you will know. <br>The more that you learn, the more places you’ll go.”</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Dr. Seuss <cite title="Source Title">American children's author</cite>
        </figcaption>
      </figure>
      <br>
      <br>
    <div class="container">
    <div class="table-responsive">
        <table class="table table-borderless table-hover" id="search-table">
            <thead>
              <tr class="table-dark">
                <!-- <th scope="col">#</th> -->
                <th scope="col">Book</th>
                <th scope="col">Author</th>
                <th scope="col">Is Available</th>
              </tr>
            </thead>
            <label style="float: right;" >Total books: {{ count }}</label>
            <tbody id="myTable">
                {% for book in books %}
              <tr>
                <!-- <th scope="row">1</th> -->
                <td>{{ book.name }}</td>
                <td>{{ book.Author }}</td>
                {% if book.status %}
                <td style="color: green;"><strong>{{ book.status }}</strong></td>
                {% else %}
                <td style="color: red;">{{ book.status }}</td>
                {% endif %}
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
      </div>
<div class="container my-5">
  
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: black" id="footer">
    <!-- Grid container -->
    <label style="align-items: center;" id="count"></label>
    <div
         class="text-center p-3"
         style="background-color: black"
         >
      © 2022 Copyright Code By Rimmel With ❤

    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
</div>


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    var rowCount = $('#search-table >tbody >tr:visible').length;
        document.getElementById('count').innerHTML = "Books Found : "+ rowCount;
                });
            });
        });
    </script>
    <script>

      var myVar;
      
      
      
      function myFunction() {
      
        myVar = setTimeout(showPage, 2000);
      
      }
      
      
      
      function showPage() {
      
        document.getElementById("loader").style.display = "none";
      
        document.getElementById("myDiv").style.display = "block";
      
      }
      
      </script>
  </body>
</html>
